
.head
    {
  background-color:darkslateblue;
    }

h1,h3{
  -webkit-column-rule: #fff;
  -moz-column-rule: #fff;
  column-rule: #fff;
  font-family: serif;
}

h2{
  color: rgb(30,30,30);

}

.square{
  width: 100px;
  height:100px;
  background-color:blue;
  margin:auto;
}

#circle
  {
    color: darkred;
    font-size: 40px;
  }
html{
  font-family: "Times new roman",serif,sans-serif;
}
body
{
  /*background-image: url(https://webgradients.com/public/webgradients_png/047%20Fly%20High.png);
  background-repeat: no-repeat;

  background-size: cover;
  */
  background-color:inherit;
}

.borderimage
{
  border: 5px dotted green;
  width: 200px;
  height:200px;

}



ul li
{
  color: white;
}

ul > li{
  color:red;
}
